current.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1" targetNamespace="http://www.aopkb.org/aop_xml"
    xmlns="http://www.aopkb.org/aop_xml">
    <!-- Importing XHTML namespace -->
    <xs:import namespace="http://www.w3.org/1999/xhtml"
        schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"/>
    <!--Define the complex types for key events (KE), molecular initiating events (MIE), adverse outcome (AO) and applicability -->

    <xs:simpleType name="guid">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The representation of a GUID, generally the id of an element.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern
                value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="chemical">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="inchi" type="xs:string"/>
                <xs:element name="casrn" type="xs:string" minOccurs="0"/>
                <xs:element name="jchem_inchi_key" type="xs:string" minOccurs="0"/>
                <xs:element name="indigo_inchi_key" type="xs:string" minOccurs="0"/>
                <xs:element name="iupac_name" type="xs:string" minOccurs="0"/>
                <xs:element name="smiles" type="xs:string" minOccurs="0"/>
                <xs:element name="preferred_name" type="xs:string" minOccurs="0"/>
                <xs:element name="synonyms" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="synonym" minOccurs="1" maxOccurs="unbounded"
                                type="xs:string"> </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="formula" type="xs:string" minOccurs="0"/>
                <xs:element name="structural_diagram_2d" type="xs:hexBinary" minOccurs="0"/>
                <xs:element name="dsstox_id" type="xs:string" minOccurs="0"/>
                <!-- <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/> -->
                <xs:element minOccurs="0" name="creation_timestamp" type="xs:dateTime"/>
                <xs:element minOccurs="0" name="last_modification_timestamp" type="xs:dateTime"/>
            </xs:sequence>
              <xs:attribute name="id" type="guid" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="biological_object">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="biological_term_type">
                    <xs:sequence>
                        <xs:element name="biological_organization"
                            type="biological_organization_level_type"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="guid" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="biological_process">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="biological_term_type">
                    <xs:sequence>
                        <xs:element name="biological_organization"
                            type="biological_organization_level_type"/>
                    </xs:sequence>
                      <xs:attribute name="id" type="guid" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="biological_action">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="biological_term_type">
                      <xs:attribute name="id" type="guid" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="key_event">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1"/>
                <xs:element name="short_name" type="xs:string" maxOccurs="1" minOccurs="1"/>
                <xs:element name="creation_timestamp" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="last_modification_timestamp" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="biological_organization_level" minOccurs="0"
                    type="biological_organization_level_type"> </xs:element>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="measurement_methodology" type="xs:string" minOccurs="0"/>
                <xs:element name="evidence_supporting_taxonomic_applicability" type="xs:string"
                    minOccurs="0"/>
                <xs:element name="references" type="xs:string" minOccurs="0"/>
                <xs:element minOccurs="0" name="organ_term" type="biological_term_type"/>
                <xs:element minOccurs="0" name="cell_term" type="biological_term_type"/>
                <xs:element minOccurs="0" name="quality_assurance" type="qa_type"/>
                <xs:element name="applicability" type="applicability_type" minOccurs="0"/>
                <xs:element name="source" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="AOPWiki"/>
                            <xs:enumeration value="Effectopedia"/>
                            <xs:enumeration value="Intermediate Effects DB"/>
                            <xs:enumeration value="AOP Xplorer"/>
                            <xs:enumeration value="Other"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="source_internal_id" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="associated_tests" type="xs:string" minOccurs="0"/>
                <!-- <xs:any minOccurs="0" namespace="##any" maxOccurs="unbounded"/> -->
                <xs:element name="biological_events" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="false">
                        <xs:sequence>
                            <xs:element name="event" maxOccurs="unbounded">
                                <xs:complexType mixed="false">
                                    <xs:sequence>
                                        <xs:element name="object_id" type="guid"> </xs:element>
                                        <xs:element name="process_id" type="guid"> </xs:element>
                                        <xs:element name="action_id" type="guid"> </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="key_event_stressors" maxOccurs="unbounded">
                    <xs:complexType mixed="false">
                        <xs:sequence>
                            <xs:element name="key_event_stressor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="evidence_type">
                                            <xs:attribute name="stressor_id" type="guid"/>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
              <xs:attribute name="id" type="guid" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="key_event_relationship">
        <xs:complexType>
            <xs:all>
                <xs:element name="title">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="upstream_id" type="guid"/>
                            <xs:element name="downstream_id" type="guid"/>
                            <xs:element name="detail_level" minOccurs="0" default="Hypothetical">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Hypothetical"/>
                                        <xs:enumeration value="One to One"/>
                                        <xs:enumeration value="Proportional"/>
                                        <xs:enumeration value="Threshold"/>
                                        <xs:enumeration value="Response-Response"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="quality_assurance" type="qa_type"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="temporal_concordance" type="xs:string" minOccurs="0"/>
                <xs:element name="weight_of_evidence" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="value" type="confidence_level_type"> </xs:element>
                            <xs:element name="biological_plausibility" type="xs:string"
                                minOccurs="0"/>
                            <xs:element name="emperical_support_linkage" type="xs:string"
                                minOccurs="0"/>
                            <xs:element name="uncertainties_or_inconsistencies" type="xs:string"
                                minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="quantitative_understanding" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="description" type="xs:string"/>
                            <xs:element name="support_evidence" type="xs:string" minOccurs="0"/>
                        </xs:sequence>

                    </xs:complexType>
                </xs:element>
                <xs:element name="taxonomic_applicability" type="applicability_type" minOccurs="0"
                    maxOccurs="unbounded"/>
                <xs:element name="evidence_supporting_taxonomic_applicability" type="xs:string"
                    minOccurs="0"/>
                <xs:element name="source" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="AOPWiki"/>
                            <xs:enumeration value="Effectopedia"/>
                            <xs:enumeration value="Intermediate Effects DB"/>
                            <xs:enumeration value="AOP Xplorer"/>
                            <xs:enumeration value="Other"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="source_internal_id" type="xs:string" minOccurs="0"/>
                <!-- <xs:any minOccurs="0" namespace="##any" maxOccurs="unbounded"/> -->
                <xs:element name="creation_timestamp" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="last_modification_timestamp" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="references" type="xs:string" minOccurs="0"/>
            </xs:all>

              <xs:attribute name="id" type="guid" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="stressor">
        <xs:complexType>
            <xs:all>
                <xs:element name="title">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string"/>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="quality_assurance" type="qa_type"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="chemicals" maxOccurs="unbounded">
                    <xs:complexType mixed="false">
                        <xs:sequence>
                            <xs:element name="chemical_initiator" maxOccurs="unbounded">
                                <xs:complexType mixed="false">
                                    <xs:attribute name="chemical_id" type="guid"/>
                                    <xs:attribute name="user_term" type="guid"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="structural_properties"
                    type="property_values"/>
                <xs:element name="synonym" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="associated_substances"
                    type="substance_info"/>
                <xs:element name="link" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="exposure_characterization" type="xs:string" minOccurs="0"/>
            </xs:all>

              <xs:attribute name="id" type="guid" use="required"/>

        </xs:complexType>
    </xs:element>
    <xs:complexType name="evidence_type">
        <xs:sequence>
            <xs:element name="evidence" type="confidence_level_type"> </xs:element>
            <xs:element name="link" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="uri" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="applicability_type">
        <xs:all>
            <xs:element name="sex" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="evidence_type">
                            <xs:sequence>
                                <xs:element name="sex" minOccurs="0">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Male"/>
                                            <xs:enumeration value="Female"/>
                                            <xs:enumeration value="Mixed"/>
                                            <xs:enumeration value="Asexual"/>
                                            <xs:enumeration value="Third Gender"/>
                                            <xs:enumeration value="Hermaphrodite"/>
                                            <xs:enumeration value="Unspecific"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="life_stage" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="evidence_type">
                            <xs:sequence>
                                <xs:element name="life_stage" minOccurs="0" maxOccurs="unbounded">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Birth to  &lt; 1 month"/>
                                            <xs:enumeration value="1 to  &lt; 3 months"/>
                                            <xs:enumeration value="3 to  &lt; 6 months"/>
                                            <xs:enumeration value="6 to  &lt; 12 months"/>
                                            <xs:enumeration value="1 to  &lt; 2 years"/>
                                            <xs:enumeration value="2 to  &lt; 3 years"/>
                                            <xs:enumeration value="3 to  &lt; 6 years"/>
                                            <xs:enumeration value="6 to  &lt; 11 years"/>
                                            <xs:enumeration value="11 to  &lt; 16 years"/>
                                            <xs:enumeration value="16 to  &lt; 21 years"/>
                                            <xs:enumeration value="Nursing Child"/>
                                            <xs:enumeration value="Pregnancy"/>
                                            <xs:enumeration value="Old Age"/>
                                            <xs:enumeration value="Not Otherwise Specified"/>
                                            <xs:enumeration value="Lactating Mother"/>
                                            <xs:enumeration value="Conception to &lt; Fetal"/>
                                            <xs:enumeration value="Fetal to Parturition"/>
                                            <xs:enumeration value="Foetal"/>
                                            <xs:enumeration value="Embryo"/>
                                            <xs:enumeration value="Juvenile"/>
                                            <xs:enumeration value="Adult, reproductively mature"/>
                                            <xs:enumeration value="Perinatal"/>
                                            <xs:enumeration
                                                value="During development and at adulthood"/>
                                            <xs:enumeration value="Adults"/>
                                            <xs:enumeration value="Adult"/>
                                            <xs:enumeration
                                                value="During brain development, adulthood and aging"/>
                                            <xs:enumeration value="During brain development"/>
                                            <xs:enumeration value="human"/>
                                            <xs:enumeration value="development"/>
                                            <xs:enumeration value="all life stages"/>
                                            <xs:enumeration value="Fetal"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="taxonomy" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="evidence_type">
                            <xs:attribute name="taxonomy_id" type="guid"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="uri" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="biological_compartment" type="xs:string" maxOccurs="unbounded"
                minOccurs="0"/>
            <xs:element name="time_to_manifestation" type="xs:string" maxOccurs="unbounded"
                minOccurs="0"/>
            <xs:element name="time_to_manifestation_range" type="xs:string" maxOccurs="unbounded"
                minOccurs="0"/>
            <xs:element name="generation" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="other" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
            <!-- <xs:any minOccurs="0" namespace="##any" maxOccurs="unbounded"/> -->
        </xs:all>

    </xs:complexType>

    <!--Define the AOP's main elements -->
    <xs:complexType name="substance_info">
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="iuc_name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <!-- <xs:any namespace="##any" maxOccurs="unbounded" minOccurs="0"/> -->
            <!-- <xs:element name="constituent" type="constituent_type" minOccurs="0"
                maxOccurs="unbounded"/> -->
            <xs:element maxOccurs="unbounded" minOccurs="0" name="substance_properties"
                type="property_values"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="property_values">
        <xs:sequence>
            <xs:element name="property" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="units" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="conditions" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="qa_type">
        <xs:sequence>
            <xs:element name="contributor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="reviewer" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="seal_of_approval" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="last_modified" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="status">
        <xs:sequence>
            <xs:element name="wiki_status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Open for Citation"/>
                        <xs:enumeration value="Open for Adoption"/>
                        <xs:enumeration value="Open for Comment"/>
                        <xs:enumeration value="Not under Development"/>
                        <xs:enumeration value="Under Development"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="oecd_status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TFHA/WNT Endorsed"/>
                        <xs:enumeration value="EAGMST Approved"/>
                        <xs:enumeration value="EAGMST Under Review"/>
                        <xs:enumeration value="Under Development"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="saaop_status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Included in OECD Work Plan"/>
                        <xs:enumeration value="Proposed for OECD Work Plan"/>
                        <xs:enumeration value="Under Development"/>
                        <xs:enumeration value="Archived"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="aop">
        <xs:complexType>
            <xs:all>
                <xs:element name="title">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".* leading to .*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="short_name" type="xs:string"/>
                <xs:element name="authors" type="xs:string"/>

                <xs:element name="OECD_status">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Endorsed (WNT or TFHA)"/>
                            <xs:enumeration value="Approved"/>
                            <xs:enumeration value="Under Review"/>
                            <xs:enumeration value="Under Development"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="saaop_status">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Included in OECD work plan"/>
                            <xs:enumeration value="Proposed for OECD work plan"/>
                            <xs:enumeration value="Under development"/>
                            <xs:enumeration value="Archived"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="creation_timestamp" type="xs:dateTime"/>
                <xs:element name="last_modification_timestamp" type="xs:dateTime"/>
                <!--Should have a defined closed vocabulary - Still under consideration -->
                <!--Could be changed to a more comprehensive structure -->
                <xs:element name="abstract" type="xs:string"/>
                <xs:element name="background" type="xs:string" minOccurs="0"/>
                <xs:element name="molecular_initiating_event" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="false">
                        <xs:sequence>
                            <xs:element name="evidence_supporting_chemical_initiation"
                                type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="key_event_id"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="adverse_outcome" maxOccurs="unbounded">
                    <xs:complexType mixed="false">
                        <xs:sequence>
                            <xs:element name="examples" type="xs:string" minOccurs="0"/>
                            <xs:element name="regulatory_relevance" type="xs:string" minOccurs="0"/>
                            <xs:element name="organs_affected" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="evidence_type">
                                            <xs:sequence>
                                                <xs:element name="synonym" type="xs:string"/>
                                                <xs:element name="scientific_name" type="xs:string"
                                                />
                                            </xs:sequence>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="key_event_id" type="guid"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="key_event_relationships" maxOccurs="unbounded">
                    <xs:complexType mixed="false">
                        <xs:sequence>
                            <xs:element name="relationship" maxOccurs="unbounded">
                                <xs:complexType mixed="false">
                                    <xs:sequence>
                                        <xs:element name="directness">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="direct"/>
                                                  <xs:enumeration value="indirect"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="quantitative_understanding_value"
                                            type="confidence_level_type"> </xs:element>
                                        <xs:element name="evidence" type="confidence_level_type">
                                        </xs:element>
                                    </xs:sequence>
                                      <xs:attribute name="id" type="guid" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="essentiality_support" minOccurs="0" maxOccurs="unbounded"> </xs:element>
                <xs:element name="key_event_essentiality" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="key_event_id" type="xs:positiveInteger"/>
                            <xs:element name="essentiality_level" type="confidence_level_type"> </xs:element>
                            <xs:element name="uri" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="applicability" type="applicability_type" minOccurs="0"/>
                <xs:element name="overall_assessment" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="description" type="xs:string" minOccurs="0"/>
                            <xs:element name="applicability" type="xs:string" minOccurs="0"/>
                            <xs:element name="key_event_essentiality_summary" type="xs:string"
                                minOccurs="0"> </xs:element>
                            <xs:element name="weight_of_evidence_summary" type="xs:string"
                                minOccurs="0"> </xs:element>
                            <xs:element name="quantitative_considerations" type="xs:string"
                                minOccurs="0"> </xs:element>
                            <xs:element name="uri" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                        </xs:all>

                    </xs:complexType>
                </xs:element>
                <xs:element name="potential_applications" type="xs:string" minOccurs="0"/>
                <xs:element name="source" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="AOPWiki"/>
                            <xs:enumeration value="Effectopedia"/>
                            <xs:enumeration value="Intermediate Effects DB"/>
                            <xs:enumeration value="AOP Xplorer"/>
                            <xs:enumeration value="Other"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="source_internal_id" type="xs:string" minOccurs="0"
                    maxOccurs="unbounded"/>
                <xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="references" type="xs:string" minOccurs="0"/>
                <!-- <xs:any minOccurs="0" namespace="##any" maxOccurs="unbounded"/> -->
                <xs:element name="aop_stressors" maxOccurs="unbounded">
                    <xs:complexType mixed="false">
                        <xs:sequence>
                            <xs:element name="aop_stressor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="evidence_type">
                                            <xs:attribute name="stressor_id" type="guid"/>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>


            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="biological_organization_level_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Molecular"/>
            <xs:enumeration value="Organelle"/>
            <xs:enumeration value="Cellular"/>
            <xs:enumeration value="Tissue"/>
            <xs:enumeration value="Organ"/>
            <xs:enumeration value="Organ System"/>
            <xs:enumeration value="Individual"/>
            <xs:enumeration value="Population"/>
            <xs:enumeration value="Species"/>
            <xs:enumeration value="Communities"/>
            <xs:enumeration value="Ecosystem"/>
            <xs:enumeration value="Biosphere"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="confidence_level_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Very strong"/>
            <xs:enumeration value="Strong"/>
            <xs:enumeration value="Moderate"/>
            <xs:enumeration value="Weak"/>
            <xs:enumeration value="not specified"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="biological_term_type">
        <xs:sequence>
            <xs:element minOccurs="0" name="source_id" type="xs:string"/>
            <xs:element minOccurs="0" name="source" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="synonym" type="xs:string"/>
            <xs:element minOccurs="0" name="creation_timestamp" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="last_modification_timestamp" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="taxonomy">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="biological_term_type">
                    <xs:attribute name="id" type="guid" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="vendor-specific">
        <xs:complexType>
            <xs:sequence>
                <xs:any maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="guid" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="optional"/>

        </xs:complexType>
    </xs:element>
</xs:schema>
