assets/schema/archive/0.0.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1" targetNamespace="http://www.aopkb.org/aop_xml"
    xmlns="http://www.aopkb.org/aop_xml">
    <!-- Importing XHTML namespace -->
    <xs:import namespace="http://www.w3.org/1999/xhtml"
        schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"/>
    <!--Define the complex types for key events (KE), molecular initiating events (MIE), adverse outcome (AO) and applicability -->
    <xs:complexType name="Html">
        <xs:complexContent>
            <xs:extension base="xhtml:Block">
                <xs:attributeGroup ref="xhtml:attrs"/>
                <xs:attribute name="onload" type="xhtml:Script"/>
                <xs:attribute name="onunload" type="xhtml:Script"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="key_event_type">
        <xs:all>
            <xs:element name="name">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="biological_process" type="xs:string"/>
                        <xs:element name="action" type="xs:string"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="description" type="xhtml:Block"/>
            <xs:element name="measurement" type="xhtml:Block" minOccurs="0"/>
            <xs:element name="taxonomic_applicability" type="applicability_type" minOccurs="0"
                maxOccurs="unbounded"/>
            <xs:element name="evidence_supporting_taxonomic_applicability" type="xhtml:Block"
                minOccurs="0"/>
            <xs:element name="biological_organization_level" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Molecular"/>
                        <xs:enumeration value="Cellular"/>
                        <xs:enumeration value="Tissue"/>
                        <xs:enumeration value="Organ"/>
                        <xs:enumeration value="Individual"/>
                        <xs:enumeration value="Population"/>
                    </xs:restriction>
                </xs:simpleType>

            </xs:element>
            <xs:element name="source" default="" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="AOPWiki"/>
                        <xs:enumeration value="Effectopedia"/>
                        <xs:enumeration value="Intermediate Effects DB"/>
                        <xs:enumeration value="AOP Xplorer"/>
                        <xs:enumeration value="Other"/>
                        <xs:enumeration value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="source_internal_id" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="uuid" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="authors" type="xhtml:Block" minOccurs="0" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="ke_id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="evidence_type">
        <xs:all>
            <xs:element name="evidence">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Strong"/>
                        <xs:enumeration value="Moderate"/>
                        <xs:enumeration value="Weak"/>
                        <xs:enumeration value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="link" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="description" type="xhtml:Block" minOccurs="0"/>
            <xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:all>

    </xs:complexType>

    <xs:complexType name="applicability_type">
        <xs:all>
            <xs:element name="sex" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="evidence_type">
                            <xs:all>
                                <xs:element name="sex" minOccurs="0">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Male"/>
                                            <xs:enumeration value="Female"/>
                                            <xs:enumeration value="Mixed"/>
                                            <xs:enumeration value="Asexual"/>
                                            <xs:enumeration value="Third Gender"/>
                                            <xs:enumeration value="Hermaphrodite"/>
                                            <xs:enumeration value="Unspecific"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:all>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="life_stage" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="evidence_type">
                            <xs:all>
                                <xs:element name="life_stage" minOccurs="0" maxOccurs="unbounded">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Birth to  &lt; 1 month"/>
                                            <xs:enumeration value="1 to  &lt; 3 months"/>
                                            <xs:enumeration value="3 to  &lt; 6 months"/>
                                            <xs:enumeration value="6 to  &lt; 12 months"/>
                                            <xs:enumeration value="1 to  &lt; 2 years"/>
                                            <xs:enumeration value="2 to  &lt; 3 years"/>
                                            <xs:enumeration value="3 to  &lt; 6 years"/>
                                            <xs:enumeration value="6 to  &lt; 11 years"/>
                                            <xs:enumeration value="11 to  &lt; 16 years"/>
                                            <xs:enumeration value="16 to  &lt; 21 years"/>
                                            <xs:enumeration value="Nursing Child"/>
                                            <xs:enumeration value="Pregnancy"/>
                                            <xs:enumeration value="Old Age"/>
                                            <xs:enumeration value="Not Otherwise Specified"/>
                                            <xs:enumeration value="Lactating Mother"/>
                                            <xs:enumeration value="Conception to &lt; Fetal"/>
                                            <xs:enumeration value="Fetal to Parturition"/>
                                            <xs:enumeration value="Foetal"/>
                                            <xs:enumeration value="Embryo"/>
                                            <xs:enumeration value="Juvenile"/>
                                            <xs:enumeration value="Adult, reproductively mature"/>
                                            <xs:enumeration value="Perinatal"/>
                                            <xs:enumeration
                                                value="During development and at adulthood"/>
                                            <xs:enumeration value="Adults"/>
                                            <xs:enumeration value="Adult"/>
                                            <xs:enumeration
                                                value="During brain development, adulthood and aging"/>
                                            <xs:enumeration value="During brain development"/>
                                            <xs:enumeration value="human"/>
                                            <xs:enumeration value="development"/>
                                            <xs:enumeration value="all life stages"/>
                                            <xs:enumeration value="Fetal"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:all>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="taxonomy" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="evidence_type">
                            <xs:all>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="scientific_name" type="xs:string"/>
                            </xs:all>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:all>

    </xs:complexType>

    <!--Define the AOP's main elements -->
    <xs:element name="aop">
        <xs:complexType>
            <xs:all>
                <xs:element name="aop_id" type="xs:positiveInteger"/>
                <xs:element name="long_title">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value=".* leading to .*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="short_title" type="xs:string"/>
                <xs:element name="authors" type="xhtml:Block"/>
                <xs:element name="status" type="xhtml:Block"/>

                <xs:element name="status_restricted">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="OECD Endorsed (WNT or TFHA)"/>
                            <xs:enumeration value="EAGMST Approved"/>
                            <xs:enumeration value="EAGMST Under Review"/>
                            <xs:enumeration value="EAGMST Under Development"/>
                            <xs:enumeration value="SAAOP AOP Under Development"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="publication_timestamp" type="xs:dateTime"/>
                <xs:element name="last_modification_timestamp" type="xs:dateTime"/>
                <!--Should have a defined closed vocabulary - Still under consideration -->
                <!--Could be changed to a more comprehensive structure -->
                <xs:element name="abstract" type="xhtml:Block"/>
                <xs:element name="background" type="xhtml:Block" minOccurs="0"/>
                <xs:element name="molecular_initiating_event" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="key_event_type">
                                <xs:all>
                                    <xs:element name="chemical_initiator">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="title" type="xs:string"/>
                                                <xs:element name="name" type="xs:string"/>
                                                <xs:element name="description" type="xhtml:Block"/>
                                                <xs:element name="synonym" type="xs:string"
                                                  minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="casrn" type="xs:string"
                                                  minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="smiles" type="xs:string"
                                                  minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="link" type="xs:string"
                                                  minOccurs="0" maxOccurs="unbounded"/>
                                                <xs:element name="exposure_characterization"
                                                  type="xhtml:Block" minOccurs="0"
                                                  maxOccurs="unbounded"/>
                                                <xs:element name="iupac_name" type="xs:string"
                                                  maxOccurs="unbounded" minOccurs="0"/>
                                                <xs:element name="inchi" type="xs:string"
                                                  maxOccurs="unbounded" minOccurs="0"/>
                                                <xs:element name="inchi_key" type="xs:string"
                                                  minOccurs="0"/>
                                                <xs:element name="formula" type="xs:string"
                                                  maxOccurs="unbounded" minOccurs="0"/>
                                                <xs:element name="structural_diagram_2d"
                                                  type="xs:hexBinary" maxOccurs="unbounded"
                                                  minOccurs="0"/>
                                                <xs:element name="source" default="" minOccurs="0"
                                                  maxOccurs="1">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="AOPWiki"/>
                                                  <xs:enumeration value="Effectopedia"/>
                                                  <xs:enumeration value="Intermediate Effects DB"/>
                                                  <xs:enumeration value="AOP Xplorer"/>
                                                  <xs:enumeration value="Other"/>
                                                  <xs:enumeration value=""/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="source_internal_id"
                                                  type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                <xs:element name="URI" type="xs:string"
                                                  minOccurs="0" maxOccurs="1"/>
                                                <xs:element name="uuid" type="xs:string"
                                                  minOccurs="0" maxOccurs="1"/>
                                                <xs:element name="authors" type="xhtml:Block"
                                                  minOccurs="0" maxOccurs="1"/>
                                            </xs:all>

                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="evidence_supporting_chemical_initiation"
                                        type="xhtml:Block" minOccurs="0"/>
                                </xs:all>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="key_event" type="key_event_type" maxOccurs="unbounded"/>
                <xs:element name="adverse_outcome" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="key_event_type">
                                <xs:all>
                                    <xs:element name="regulatory_relevance" type="xhtml:Block"
                                        minOccurs="0"/>
                                    <xs:element name="organs_affected" maxOccurs="unbounded"
                                        minOccurs="0">
                                        <xs:complexType>
                                            <xs:complexContent>
                                                <xs:extension base="evidence_type">
                                                  <xs:all>
                                                  <xs:element name="synonym" type="xs:string"/>
                                                  <xs:element name="scientific_name"
                                                  type="xs:string"/>
                                                  </xs:all>
                                                </xs:extension>
                                            </xs:complexContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>


                <xs:element name="key_event_relationship" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="ker_id" type="xs:positiveInteger"/>
                            <xs:element name="title">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="upstream_ke_id" type="xs:string"/>
                                        <xs:element name="adjacency">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="directly leads to"/>
                                                  <xs:enumeration value="indirectly leads to"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="downstream_ke_id" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="description" type="xhtml:Block"/>
                            <xs:element name="weight_of_evidence" maxOccurs="unbounded"
                                minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="value">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="Strong"/>
                                                  <xs:enumeration value="Moderate"/>
                                                  <xs:enumeration value="Weak"/>
                                                  <xs:enumeration value=""/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="biological_plausibility"
                                            type="xhtml:Block" minOccurs="0"/>
                                        <xs:element name="emperical_support_linkage"
                                            type="xhtml:Block" minOccurs="0"/>
                                        <xs:element name="uncertainties_or_inconsistencies"
                                            type="xhtml:Block" minOccurs="0"/>
                                    </xs:sequence>

                                </xs:complexType>
                            </xs:element>
                            <xs:element name="quantitative_understanding" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="value">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="Strong"/>
                                                  <xs:enumeration value="Moderate"/>
                                                  <xs:enumeration value="Weak"/>
                                                  <xs:enumeration value=""/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>

                                        <xs:element name="description" type="xhtml:Block"/>
                                    </xs:sequence>

                                </xs:complexType>
                            </xs:element>
                            <xs:element name="taxonomic_applicability" type="applicability_type"
                                minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="evidence_supporting_taxonomic_applicability"
                                type="xhtml:Block" minOccurs="0"/>
                            <xs:element name="source" default="" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="AOPWiki"/>
                                        <xs:enumeration value="Effectopedia"/>
                                        <xs:enumeration value="Intermediate Effects DB"/>
                                        <xs:enumeration value="AOP Xplorer"/>
                                        <xs:enumeration value="Other"/>
                                        <xs:enumeration value=""/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="source_internal_id" type="xs:string" minOccurs="0"
                                maxOccurs="1"/>
                            <xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="uuid" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="authors" type="xhtml:Block" minOccurs="0"
                                maxOccurs="1"/>
                        </xs:all>

                    </xs:complexType>
                </xs:element>
                <xs:element name="essentiality_support" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ke_id" type="xs:positiveInteger"/>
                            <xs:element name="essentiality_level">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Strong"/>
                                        <xs:enumeration value="Moderate"/>
                                        <xs:enumeration value="Weak"/>
                                        <xs:enumeration value=""/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="URI" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                        </xs:sequence>

                    </xs:complexType>
                </xs:element>
                <xs:element name="overall_assessment" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="description" type="xhtml:Block" minOccurs="0"/>
                            <xs:element name="weight_of_evidence_summary" type="xhtml:Block"
                                minOccurs="0"> </xs:element>
                            <xs:element name="KE_essentiality_summary" type="xhtml:Block"
                                minOccurs="0"> </xs:element>
                            <xs:element name="quantitative_considerations" type="xhtml:Block"
                                minOccurs="0"> </xs:element>
                            <xs:element name="applicability" type="applicability_type" minOccurs="0"
                                maxOccurs="unbounded"/>
                            <xs:element name="URI" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                        </xs:all>

                    </xs:complexType>
                </xs:element>

                <xs:element name="potential_applications" type="xhtml:Block" minOccurs="0"/>
                <xs:element name="source" default="" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="AOPWiki"/>
                            <xs:enumeration value="Effectopedia"/>
                            <xs:enumeration value="Intermediate Effects DB"/>
                            <xs:enumeration value="AOP Xplorer"/>
                            <xs:enumeration value="Other"/>
                            <xs:enumeration value=""/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="source_internal_id" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="URI" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="uuid" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="authors" type="xhtml:Block" minOccurs="0" maxOccurs="1"/>
            </xs:all>

        </xs:complexType>
    </xs:element>
</xs:schema>
