archive/0.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.aopkb.org/aop_xml" vc:minVersion="1.1" xmlns="http://www.aopkb.org/aop_xml" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Importing XHTML namespace -->
	<!--Define the AOP's main elements -->
	<!--Define the complex types for key events (KE), molecular initiating events (MIE), adverse outcome (AO) and applicability -->
	<xs:complexType name="biological_term_type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="official_name" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="source_id" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="source" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="synonym" type="xs:string"/>
			<xs:element name="creation_timestamp" type="xs:dateTime"/>
			<xs:element name="last_modification_timestamp" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="chemical_info_type">
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="casrn" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="formula" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="inchi" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="iupac_name" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="smiles" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="structural_diagram_2d" type="xs:hexBinary"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="uuid" type="xs:string"/>
			<xs:element minOccurs="0" name="inchi_key" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="context">
		<xs:all>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="biological_compartment" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="generation" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="life_stage">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="evidence_type">
							<xs:all>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="life_stage">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="1 to  &lt; 2 years"/>
											<xs:enumeration value="1 to  &lt; 3 months"/>
											<xs:enumeration value="11 to  &lt; 16 years"/>
											<xs:enumeration value="16 to  &lt; 21 years"/>
											<xs:enumeration value="2 to  &lt; 3 years"/>
											<xs:enumeration value="3 to  &lt; 6 months"/>
											<xs:enumeration value="3 to  &lt; 6 years"/>
											<xs:enumeration value="6 to  &lt; 11 years"/>
											<xs:enumeration value="6 to  &lt; 12 months"/>
											<xs:enumeration value="Adult"/>
											<xs:enumeration value="Adult, reproductively mature"/>
											<xs:enumeration value="Adults"/>
											<xs:enumeration value="all life stages"/>
											<xs:enumeration value="Birth to  &lt; 1 month"/>
											<xs:enumeration value="Conception to &lt; Fetal"/>
											<xs:enumeration value="development"/>
											<xs:enumeration value="During brain development"/>
											<xs:enumeration value="During brain development, adulthood and aging"/>
											<xs:enumeration value="During development and at adulthood"/>
											<xs:enumeration value="Embryo"/>
											<xs:enumeration value="Fetal"/>
											<xs:enumeration value="Fetal to Parturition"/>
											<xs:enumeration value="Foetal"/>
											<xs:enumeration value="human"/>
											<xs:enumeration value="Juvenile"/>
											<xs:enumeration value="Lactating Mother"/>
											<xs:enumeration value="Not Otherwise Specified"/>
											<xs:enumeration value="Nursing Child"/>
											<xs:enumeration value="Old Age"/>
											<xs:enumeration value="Perinatal"/>
											<xs:enumeration value="Pregnancy"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:all>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="other" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="sex">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="evidence_type">
							<xs:all>
								<xs:element minOccurs="0" name="sex">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Asexual"/>
											<xs:enumeration value="Female"/>
											<xs:enumeration value="Hermaphrodite"/>
											<xs:enumeration value="Male"/>
											<xs:enumeration value="Mixed"/>
											<xs:enumeration value="Third Gender"/>
											<xs:enumeration value="Unspecific"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:all>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="taxonomy">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="evidence_type">
							<xs:all>
								<xs:element name="name" type="xs:string"/>
								<xs:element name="scientific_name" type="xs:string"/>
							</xs:all>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="time_to_manifestation_range" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="time_to_manifestation" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="URI" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="evidence_type">
		<xs:all>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="URI" type="xs:string"/>
			<xs:element minOccurs="0" name="description" type="xhtml:Block"/>
			<xs:element name="evidence">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="Moderate"/>
						<xs:enumeration value="Strong"/>
						<xs:enumeration value="Weak"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Html">
		<xs:complexContent>
			<xs:extension base="xhtml:Block">
				<xs:attribute name="onload" type="xhtml:Script"/>
				<xs:attribute name="onunload" type="xhtml:Script"/>
				<xs:attributeGroup ref="xhtml:attrs"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="key_event_type">
		<xs:all>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
			<xs:element default="" minOccurs="0" name="source">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="AOP Xplorer"/>
						<xs:enumeration value="AOPWiki"/>
						<xs:enumeration value="Effectopedia"/>
						<xs:enumeration value="Intermediate Effects DB"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="source_internal_id" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="URI" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="id" type="guid"/>
			<xs:element maxOccurs="1" minOccurs="1" name="short_name" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="title" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="taxonomic_applicability" type="context"/>
			<xs:element minOccurs="0" name="associated_tests" type="xhtml:Block"/>
			<xs:element minOccurs="0" name="biological_organization_level">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Biosphere"/>
						<xs:enumeration value="Cellular"/>
						<xs:enumeration value="Communities"/>
						<xs:enumeration value="Ecosystem"/>
						<xs:enumeration value="Individual"/>
						<xs:enumeration value="Molecular"/>
						<xs:enumeration value="Organ"/>
						<xs:enumeration value="Organ System"/>
						<xs:enumeration value="Organelle"/>
						<xs:enumeration value="Population"/>
						<xs:enumeration value="Species"/>
						<xs:enumeration value="Tissue"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="cell" type="biological_term_type"/>
			<xs:element minOccurs="0" name="evidence_supporting_taxonomic_applicability" type="xhtml:Block"/>
			<xs:element minOccurs="0" name="measurement_methodology" type="xhtml:Block"/>
			<xs:element minOccurs="0" name="organ" type="biological_term_type"/>
			<xs:element minOccurs="0" name="quality_assurance" type="qa_type"/>
			<xs:element minOccurs="0" name="references" type="xhtml:Block"/>
			<xs:element name="aop_wiki_id" type="xs:positiveInteger"/>
			<xs:element name="creation_timestamp" type="xs:dateTime"/>
			<xs:element name="description" type="xhtml:Block"/>
			<xs:element name="last_modification_timestamp" type="xs:dateTime"/>
		</xs:all>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:complexType name="propertyValues">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="conditions" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="source" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="units" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="property" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qa_type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="contributor" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="reviewer" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="seal_of_approval" type="xs:string"/>
			<xs:element name="last_modified" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="status">
		<xs:sequence>
			<xs:element name="oecd_status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAGMST Approved"/>
						<xs:enumeration value="EAGMST Under Review"/>
						<xs:enumeration value="TFHA/WNT Endorsed"/>
						<xs:enumeration value="Under Development"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="saaop_status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Archived"/>
						<xs:enumeration value="Included in OECD Work Plan"/>
						<xs:enumeration value="Proposed for OECD Work Plan"/>
						<xs:enumeration value="Under Development"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="wiki_status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Not under Development"/>
						<xs:enumeration value="Open for Adoption"/>
						<xs:enumeration value="Open for Citation"/>
						<xs:enumeration value="Open for Comment"/>
						<xs:enumeration value="Under Development"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="substance_info">
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
			<xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="title" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="constituent" type="constituent_type"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="IUC_NAME" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="substance_properties" type="propertyValues"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="TYPE" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="UUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="aop">
		<xs:complexType>
			<xs:all>
				<!--Could be changed to a more comprehensive structure -->
				<!--Should have a defined closed vocabulary - Still under consideration -->
				<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
				<xs:element default="" minOccurs="0" name="source">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value=""/>
							<xs:enumeration value="AOP Xplorer"/>
							<xs:enumeration value="AOPWiki"/>
							<xs:enumeration value="Effectopedia"/>
							<xs:enumeration value="Intermediate Effects DB"/>
							<xs:enumeration value="Other"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="overall_assessment">
					<xs:complexType>
						<xs:all>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="URI" type="xs:string"/>
							<xs:element minOccurs="0" name="applicability" type="xhtml:Block"/>
							<xs:element minOccurs="0" name="description" type="xhtml:Block"/>
							<xs:element minOccurs="0" name="KE_essentiality_summary" type="xhtml:Block"/>
							<xs:element minOccurs="0" name="optional_consideration" type="xhtml:Block"/>
							<xs:element minOccurs="0" name="quantitative_considerations" type="xhtml:Block"/>
							<xs:element minOccurs="0" name="weight_of_evidence_summary" type="xhtml:Block"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="essentiality_support">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="URI" type="xs:string"/>
							<xs:element name="essentiality_level">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="Moderate"/>
										<xs:enumeration value="Strong"/>
										<xs:enumeration value="Weak"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ke_id" type="xs:positiveInteger"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="molecular_initiating_event">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="key_event_type">
								<xs:all>
									<xs:element maxOccurs="unbounded" minOccurs="0" name="chemical_initiator">
										<xs:complexType>
											<xs:all>
												<xs:element maxOccurs="1" minOccurs="0" name="chemical_info" type="chemical_info_type"/>
												<xs:element maxOccurs="unbounded" minOccurs="0" name="associated_substances" type="substance_info"/>
												<xs:element maxOccurs="unbounded" minOccurs="0" name="exposure_characterization" type="xhtml:Block"/>
												<xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="xs:string"/>
												<xs:element maxOccurs="unbounded" minOccurs="0" name="structural_properties" type="propertyValues"/>
												<xs:element maxOccurs="unbounded" minOccurs="0" name="synonym" type="xs:string"/>
												<xs:element minOccurs="0" name="quality_assurance" type="qa_type"/>
												<xs:element name="description" type="xhtml:Block"/>
												<xs:element name="name" type="xs:string"/>
												<xs:element name="title" type="xs:string"/>
											</xs:all>
										</xs:complexType>
									</xs:element>
									<xs:element minOccurs="0" name="evidence_supporting_chemical_initiation" type="xhtml:Block"/>
								</xs:all>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="source_internal_id" type="xs:string"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="URI" type="xs:string"/>
				<xs:element maxOccurs="unbounded" name="adverse_outcome">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="key_event_type">
								<xs:all>
									<xs:element maxOccurs="unbounded" minOccurs="0" name="organs_affected">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="evidence_type">
													<xs:all>
														<xs:element name="scientific_name" type="xs:string"/>
														<xs:element name="synonym" type="xs:string"/>
													</xs:all>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element minOccurs="0" name="examples" type="xhtml:Block"/>
									<xs:element minOccurs="0" name="regulatory_relevance" type="xhtml:Block"/>
								</xs:all>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="key_event_relationship">
					<xs:complexType>
						<xs:all>
							<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
							<xs:element default="" minOccurs="0" name="source">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="AOP Xplorer"/>
										<xs:enumeration value="AOPWiki"/>
										<xs:enumeration value="Effectopedia"/>
										<xs:enumeration value="Intermediate Effects DB"/>
										<xs:enumeration value="Other"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="source_internal_id" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="taxonomic_applicability" type="context"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="weight_of_evidence">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="biological_plausibility" type="xhtml:Block"/>
										<xs:element minOccurs="0" name="emperical_support_linkage" type="xhtml:Block"/>
										<xs:element minOccurs="0" name="uncertainties_or_inconsistencies" type="xhtml:Block"/>
										<xs:element name="value">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="Moderate"/>
													<xs:enumeration value="Strong"/>
													<xs:enumeration value="Weak"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="evidence_supporting_taxonomic_applicability" type="xhtml:Block"/>
							<xs:element minOccurs="0" name="quality_assurance" type="qa_type"/>
							<xs:element minOccurs="0" name="quantitative_understanding">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="support_evidence" type="xhtml:Block"/>
										<xs:element name="description" type="xhtml:Block"/>
										<xs:element name="value">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="Moderate"/>
													<xs:enumeration value="Strong"/>
													<xs:enumeration value="Weak"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="temporal_concordance" type="xhtml:Block"/>
							<xs:element name="aop_wiki_id" type="xs:positiveInteger"/>
							<xs:element name="creation_timestamp" type="xs:dateTime"/>
							<xs:element name="description" type="xhtml:Block"/>
							<xs:element name="last_modification_timestamp" type="xs:dateTime"/>
							<xs:element name="title">
								<xs:complexType>
									<xs:sequence>
										<xs:element default="Hypothetical" minOccurs="0" name="detail_level">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Hypothetical"/>
													<xs:enumeration value="One to One"/>
													<xs:enumeration value="Proportional"/>
													<xs:enumeration value="Response-Response"/>
													<xs:enumeration value="Treshold"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="directness">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="directly leads to"/>
													<xs:enumeration value="indirectly leads to"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="downstream_id" type="guid"/>
										<xs:element name="upstream_id" type="guid"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="key_event" type="key_event_type"/>
				<xs:element minOccurs="0" name="background" type="xhtml:Block"/>
				<xs:element minOccurs="0" name="potential_applications" type="xhtml:Block"/>
				<xs:element minOccurs="0" name="references" type="xhtml:Block"/>
				<xs:element name="abstract" type="xhtml:Block"/>
				<xs:element name="aop_wiki_id" type="xs:positiveInteger"/>
				<xs:element name="authors" type="xhtml:Block"/>
				<xs:element name="creation_timestamp" type="xs:dateTime"/>
				<xs:element name="last_modification_timestamp" type="xs:dateTime"/>
				<xs:element name="short_name" type="xs:string"/>
				<xs:element name="status">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="EAGMST Approved"/>
							<xs:enumeration value="EAGMST Under Development"/>
							<xs:enumeration value="EAGMST Under Review"/>
							<xs:enumeration value="OECD Endorsed (WNT or TFHA)"/>
							<xs:enumeration value="SAAOP AOP Under Development"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="title">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value=".* leading to .*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>
	<xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"/>
	<xs:simpleType name="guid">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The representation of a GUID, generally the id of an element.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
